.btn {
  background-color: $primary-color;
  border: none;
  border-radius: 0;
}

button {
  background-color: $primary-color;
  border: none;
  color: $font-color;
  padding: 5px 20px;
  margin-top: 15px;
}

.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
